@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
header {
  padding-block-start: 37px;
  margin-block-end: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  img {
    width: 50px;
  }

  h1 {
    font-size: 20px;
  }
}

main {
  min-height: calc(100vh - 99px);
  width: min(100% - 32px, 1024px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 26px;
}

article {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-block-end: 20px;
  border-bottom: 1px solid #e5e5e5;
  width: 480px;
}

h2 {
  font-size: 15px;
  margin-block-end: 10px;
}

.time {
  margin-inline-end: 28px;
}

article img,
.image-placeholder {
  margin-inline-end: 11px;
}

.image-placeholder {
  width: 64px;
  height: 90px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.data {
  align-self: stretch;
}

.type {
  font-weight: 400;
  margin-block-end: 8px;
}

.duration {
  display: inline-block;
  width: 60px;
}

.direct {
  color: #ff014b;
}

@media (max-width: 500px) {
  main {
    align-items: start;
  }
  article {
    width: auto;
    display: flex;
  }
}
